<h1>Login </h1>
<form action="/login" method="POST">
    <label for="mobile">Enter Your Phone Number:</label>
    <input type="number" name="mobile" placeholder="Mobile Number">   
    <br>
    <label for="password">Enter Your Passowrd</label>
    <input type="password" name="password">
    <button>Login</button>
</form>

<h2><a href="/register">New to our site register yourself</a></h2>