<h1>Register</h1>
<form action="/register" method="post">
    <label for="mobile">Enter Your Mobile</label>
    <input type="number" name="mobile">

    <br>

    <label for="name">Enter Your Name</label>
    <input type="text" name="name">

    <br>

    <label for="password"> Enter Your password</label>
    <input type="text" name="password">

    <br>

    
    <button>Register</button>
</form>

<h2><a href="/login">Already user login </a></h2>